<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Secrets</title>
  </head>
  <body>
  <h1>Most Popular Secrets...</h1>
  <a href="/success">Back</a>
  <div class="popularsecrets">
    {% for sec in popular_secrets %}
    <p>{{sec.secret}} ({{sec.created_at }} ago) <i>{{sec.likes.count}} Likes</i>
      {% if not sec.likes.count %}<a href="/likesecret/{{sec.id}}">Like</a>{% endif %}
      {% if request.session.user_id == sec.likes.id %} <b>You liked this</b> {% endif %}
      {% if request.session.user_id == sec.user_id.id %} <b>You posted this</b> <a href="/deletesecret/{{sec.id}}">Delete</a>{% endif %}</p>
  </div>
  {% endfor %}
  </body>
</html>
