<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Secrets</title>
  </head>
  <body>
    <a href='/logout'>Logout</a>
    </form>
    <h1>Welcome {{request.session.user_firstname}}</h1>
    <form action='/postsecret' method='post'>
      {% csrf_token %}
    <textarea rows='3' cols='50' name='secret'></textarea>
    <button type='submit'>Submit</button>
    </form>
    <a href="/popularsecret">Most Popular Secrets</a>
      <div class="recentsecrets">
        <h1>Recent Secrets...</h1>
        {% for sec in recent_secrets %}
        <p>{{sec.secret}} ({{ sec.created_at|timesince }} ago) <i>{{sec.likes.count}} Likes</i>
          {% if not sec.likes.count %}<a href="/likesecret/{{sec.id}}">Like</a>
          {% else %} <b>You liked this</b> {% endif %}
          {% if request.session.user_id == sec.user_id.id %} <b>You posted this</b> <a href="/deletesecret/{{sec.id}}">Delete</a>{% endif %}</p>
        {% endfor %}
      </div>
    </form>
  </body>
</html>
