<!DOCTYPE html>
<html>
<head>
	<title>Dojo Survey Index</title>
</head>
<body>
	<form action = '/results' method='post'>

		<label>Your Name</label>
		<input type="" name='name'>

		<label>Dojo Location</label>
		<select name='location'><option value = "san jose">San Jose</option>\</select>
		<label>Favorite Language</label>
		<select name="language"><option value = "javascript">JavaScript</select>
		<label>Comment (optional):</label>
		<textarea name = textarea></textarea> 
		<input type="submit" name="submit" value="submit">


	</form>
</body>
</html>