<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Secrets</title>
  </head>
  <body>

    <h1>Registration</h1>
      {% for message in messages %}
        <h1>{{ message }}</h1>
      {% endfor %}
    <form action="register" method="post">
      {% csrf_token %}
      <p>First Name: <input type="text" name="firstname"></p>
      <p>Last Name: <input type="text" name="lastname"></p>
      <p>Email: <input type="text" name="email"></p>
      <p>Password: <input type="text" name="password"></p>
      <p>Confirm Password: <input type="text" name="confirm_pass"></p>
      <button>Register</button>
    </form>

    <h1>Login</h1>
    <form action="login" method="post">
      {% csrf_token %}
      <p>Email: <input type="text" name="email"></p>
      <p>Password: <input type="text" name="password"></p>
      <button>Login</button>
    </form>

  </body>
</html>
