<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Secrets</title>
  </head>
  <body>
    {% for like in likes %}
    LIKES = {{ like.like }}
    <p>{{ like.created_at }}</p>
    <p>POST ID = {{ like.message_id}} </p>
    <p>USER ID = {{ like.user_id }}</p>
    {% endfor %}

    <h1>Registration</h1>
    {% if messages %}
      {% for message in messages %}
        <h1>{{ message }}</h1>
      {% endfor %}
    {% endif %}
    <form action="{% url 'add' %}" method="post">
      {% csrf_token %}
      <p>First Name: <input type="text" name="firstname"></p>
      <p>Last Name: <input type="text" name="lastname"></p>
      <p>Email: <input type="text" name="email"></p>
      <p>Password: <input type="text" name="password"></p>
      <p>Confirm Password: <input type="text" name="confirm_pass"></p>
      <button>Register</button>
    </form>

    <h1>Login</h1>
    <form action="{% url 'suc' %}" method="post">
      {% csrf_token %}
      <p>Email: <input type="text" name="email"></p>
      <p>Password: <input type="text" name="password"></p>
      <button>Login</button>
    </form>

    {% for user in users %}
      <form action="{% url 'del' %}" method="post">
        {% csrf_token %}
        <p>{{ user.id }}</p>
        <p>{{ user.first_name}}</p>
        <p>{{ user.email}}</p>
        <p>{{ user.password }}</p>
        <button>remove</button>
      </form>
    {% endfor %}

  </body>
</html>
