<!DOCTYPE html>
<html>
<head>
	<title>Great Number Game</title>
	<style type="text/css">
	.wrong{
		background-color:red
	}
	.right{
		background-color:green
	}
	</style>
</head>
<body>
<h2>Welcome to the Great Number Game!</h2>
<p>I am thinking of a number between 1 and 100</p>
<p>Take a guess!</p>
<p>{{ session['setNum'] }}</p>


<form action = "/number" method="POST">
	<input type="text" name="numGuess">
	<button>Submit</button>
</form>


{% if 'correct' in session and session['correct'] == True %}
<p class = "right"> {{ session['phrase'] }} </p>
{% elif 'correct' in session and session['correct'] == False %}
<p class = "wrong"> {{ session['phrase'] }} </p>
{% endif %}

</body>
</html>